.wish {
  width: 100%;
  min-height: 100vh;
  padding: 150px 0;
  text-align: center;
  .wish-wrapper {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    gap: 15px;
    flex-wrap: wrap;
    .card {
      width: 31%;
      &:hover .add {
        transform: translateY(-50px) !important;
      }
      &:hover .fa-heart {
        opacity: 1 !important;
        visibility: visible !important;
      }
      .img {
        height: 90%;
        border-bottom: 3px solid red;
        cursor: pointer;
        position: relative;
        z-index: 1;
        overflow: hidden;
        .fa-heart {
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 5;
          color: black;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s;
          font-size: 1.7em;
          &:hover {
            color: red;
          }
        }
        .add {
          width: 100%;
          padding: 20px 0;
          text-align: center;
          background-color: red;
          color: white;
          font-weight: bold;
          position: absolute;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            color: red;
            background-color: white;
          }
          // transform: translateY(-50px);
        }
        img {
          width: 100%;
        }
      }
      .texts {
        height: 10%;
        text-align: center;
        line-height: 2;
        h2 {
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
