.det{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    .det-card{
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .det-img{
            width: 30%;
            img{
                width: 100%;
            }
        }
        .det-texts{
            width: 60%;
            padding: 0 100px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            .det-icons{
                width: 40%;
                display: flex;
                gap: 20px;
                i{
                    cursor: pointer;
                    font-size: 1.5em;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
}